/* GLOBAL RESET & BACKGROUND */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0c15; /* Deep Space Black everywhere */
  font-family: "Armata", sans-serif;
  overflow-x: hidden; /* Prevents accidental side scrolling */
}