:host {
  display: block;
  padding: 30px;
  font-family: "Balsamiq Sans", system-ui;
  font-weight: 400;
  color: #c2185b;
}

h1 {
  text-align: center;
  color: #ff4081;
  border-bottom: 3px solid #f8bbd0;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 2.5em;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.5em;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  margin: 0 auto 25px auto;
  border-radius: 50%;
  border: 5px solid #ffcc80;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 18px;
  border: 2px solid #f8bbd0;
  border-radius: 12px;
  outline: none;
  font-size: 1.1em;
  color: #c2185b;
  font-family: "Balsamiq Sans", system-ui;
  font-weight: 400;
  transition: border-color 0.3s, background-color 0.3s;
}

input:focus {
  border-color: #ff4081;
  background-color: #fff9f9;
}

button {
  background-color: #ff8a65;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-right: 15px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Balsamiq Sans", system-ui;
  transition: background-color 0.2s, transform 0.1s;
  box-shadow: 0 3px #e64a19;
}

button:hover {
  background-color: #e64a19;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 1px #e64a19;
}

p {
  margin: 12px 0;
  line-height: 1.6;
  font-size: 1.2em;
  font-weight: 400;
}

.highlighted {
  background-color: #fffde7;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid #ffcc80;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

.passing {
  color: green;
  font-weight: bold;
}

.failing {
  color: red;
  font-weight: bold;
}

.box {
  border: 2px solid black;
  margin-top: 10px;
}
