:host {
  display: block;
  padding: 20px 30px;
  font-family: "Balsamiq Sans", system-ui;
  color: #c2185b;
}

/* --- Typography --- */
h1 {
  text-align: center;
  color: #ff4081;
  border-bottom: 3px solid #f8bbd0;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 2.5em;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
}
