h1 {
  text-align: center;
  color: #ff4081;
  border-bottom: 3px solid #f8bbd0;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 2.5em;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
}
